div.firmware
  table.table.table-bordered
    thead
      th
        | name
      th
        | latest version
    tbody
      tr(ng-repeat="f in firmware")
        td
          | {{f.name}}
        td
          | {{f.version}}