.overview
  .devices
    margin-top: 15px

    .device
      display: inline-block
      padding: 42px 52px
      border-radius: 100%
      text-transform: uppercase
      background-color: #ecf0f1

      transition: all linear 0.3s
      cursor: pointer

      font-size: 24px

      color: darken(#ecf0f1, 65%);

      &:hover
        background-color: darken(#ecf0f1, 7%);