html,
body
  height: 100%

.dropdown-menu
  border-radius: 0

  padding-top: 0
  padding-bottom: 0

  li
    &.active
      background-color: #337ab7
      color: white

@import "*"
@import "../client/**/*"
@import "../admin/**/*"
