.topbar
  background-color: #C427BA

  .navbar
    margin-bottom: 0

    .dropdown-menu > li > a
      padding: 15px 20px

    .dropdown-menu > li > a > div
      color: #999

    .navbar-nav > li > a
      color: white
      background-color: transparent

      &:hover
        text-decoration: underline
        background-color: transparent

  @media(min-width: 768px)
    .navbar-nav > li > a
      padding-top: 20px
      padding-bottom: 20px

  .navbar-toggle
    margin-top: 14px
    margin-bottom: 14px

  .navbar-brand
    img
      max-width: 32px
      display: inline-block

  .navbar-inverse
    background-color: transparent
    border-color: transparent

    .navbar-collapse
      border-top: 0

  .navbar-toggle,
  .navbar-inverse
    background-color: transparent !important
    border-color: transparent !important

    &:hover
      background-color: transparent
      border-color: transparent

