div.modal-header
  h4.modal-title
    | New Device
div.modal-body
  form
    div.form-group
      label
        | Device ID
      input.form-control(type="text" ng-model="deviceId" placeholder="spark cloud device id" required="true")
div.modal-footer
  button.btn.btn-primary(type="submit" ng-click="createServer()")
    | Create