div.devices
  button.btn.btn-primary(ng-click="claimDevice()")
    | Add
  table.table.table-bordered
    thead
      th
        | id
      th
        | spark id
      th
        | connected?
      th
        | firmware
      th
        | owner
    tbody
      tr(ng-repeat="device in devices")
        td
          small
            | {{device._id}}
        td
          small
            | {{device.spark_id}}
        td
          span.label(ng-class="{'label-success':device.connected, 'label-danger':!device.connected}")
            | {{device.connected}}
        td(ng-click="selectFirmware(device._id)")
          span.label(ng-show="device.firmware_name" ng-class="{'label-success':device.firmware_current, 'label-danger':!device.firmware_current}")
            | {{device.firmware_name}}
            span(ng-show="device.firmware_version")
              | @{{device.firmware_version}}
            span(ng-hide="device.firmware_version")
              | @none
          span.label.label-default(ng-show="!device.firmware_name")
            | None
        td
          | {{device._uid.name}}
