div.devices
  button.btn.btn-primary(ng-click="claimDevice()")
    | Add
  table.table.table-bordered
    thead
      th
        | id
      th
        | device id
      th
        | firmware
      th
        | owner
    tbody
      tr(ng-repeat="device in devices")
        td
          small
            | {{device._id}}
        td
          small
            | {{device.device_id}}
        td(ng-click="selectFirmware(device._id)")
          span(ng-show="device.firmware_name")
            | {{device.firmware_name}}@{{device.firmware_version}}
          span.label.label-default(ng-show="!device.firmware_name")
            | None
        td
          | {{device._uid.name}}
