.topbar
  background-color: #C427BA

  .navbar
    margin-bottom: 0

    .navbar-nav > li > a
      color: white

      &:hover
        text-decoration: underline

  @media(min-width: 768px)
    .navbar-nav > li > a
      padding-top: 20px
      padding-bottom: 20px

  .navbar-toggle
    margin-top: 22px
    margin-bottom: 22px

  .navbar-brand
    img
      max-width: 32px
      display: inline-block

  .navbar-inverse
    background-color: transparent
    border-color: transparent

