.topbar
  background-color: lighten(#F7CA18, 35%)

  .navbar
    margin-bottom: 0

  @media(min-width: 768px)
    .navbar-nav > li > a
      padding-top: 20px
      padding-bottom: 20px

  .navbar-toggle
    margin-top: 22px
    margin-bottom: 22px

  .navbar-brand
    img
      max-width: 32px
      display: inline-block

  .navbar-default
    background-color: transparent
    border-color: transparent

