nav.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.clearfix(href="#")
        img.img-responsive.img-rounded(src="/images/logo_yellow.png")
    div.collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#/overview")
            | Overview